{deps, [ 
	{eredis, 		".*", {git, "git://github.com/wooga/eredis.git", 		{tag, "v1.0.6"}}}, 
	%% {poolboy , 		".*", {git, "git://github.com/devinus/poolboy.git", 		{tag, "1.1.0"}}}, 
	%% {sharded_eredis , 	".*", {git, "git://github.com/jeremyong/sharded_eredis.git", 	{branch, "master"}}}, 
	{emsg_redis,    ".*", {git, "https://github.com/cc14514/emsg_redis.git",    {branch, "master"}}},
	{thrift , 		".*", {git, "https://github.com/lpgauth/thrift-erlang.git", 	{tag, "0.8.0"}}}, 
	{log4erl , 		".*", {git, "git://github.com/ahmednawras/log4erl.git", 	{branch, "master"}}} 
]}. 
